@media (prefers-color-scheme: dark) {
    :root, body {
        --primary: #171717;
        --secondary: #fffbf2;
        --accent: #36a460;
        --highlight: #d3ac52;
        --shadow-primary: #474747;
        --shadow-secondary: #cfcbc2;
        --gradient: linear-gradient(to right, var(--highlight), var(--accent));
        --shadow-gradient: linear-gradient(to right, var(--shadow-primary), var(var(--shadow-secondary)));
    }
}

@media (prefers-color-scheme: light) {
    :root, body {
        --primary: #fffbf2;
        --secondary: #171717;
        --accent: #36a460;
        --highlight: #d3ac52;
        --shadow-primary: #cfcbc2;
        --shadow-secondary: #474747;
        --gradient: linear-gradient(to right, var(--highlight), var(--accent));
        --shadow-gradient: linear-gradient(to right, var(--shadow-primary), var(var(--shadow-secondary)));
    }
}

:root, body {
    background-color: var(--primary);
    color: var(--secondary);
}

a {
    color: var(--accent);
}

a.project {
    color: var(--highlight);
}

.timeline {
    color: var(--shadow-secondary);
    font-size: medium;
    font-weight: 100;
    font-style: italic;
}

p.private-project {
    color: var(--highlight);
}

span.private-project {
    color: var(--accent);
    font-weight: 100;
    padding: 2%;
}

div.project {
    color: var(--secondary);
    padding: 5%;
    margin: 2%;
    border: 2px solid var(--accent);
    border-radius: 16px;
}

.gradient {
    background: var(--gradient);
    background-clip: text;
    color: transparent;
    /* padding: 10px; */
}

/* Mobile */
.hero-text {
    margin: 0;
    height: auto;
    font-size: 300%;
    font-weight: 600;
    color: var(--highlight);
}
/* Desktop */
@media screen and (min-width: 1024px) {
    .hero-text {
        margin: 0;
        height: auto;
        font-size: 500%;
        font-weight: 600;
        -webkit-text-stroke-color: var(--highlight);
        -webkit-text-stroke-width: 2px;
        color: transparent;
    }
}

img.profile {
    max-width: 33%;
    border-radius: 9999px;
    padding: 10px;
}