@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Foreground color shift off.*/
@keyframes fgcolorshiftoff {
from {background-color: #000000;
	opacity: 0.0;}
to {background-color: #000000;
	opacity: 1.0;}
}
/* Background color shift on. */
@keyframes bgcolorshifton {
from {background-color: #333333;}
to {background-color: #e60000;}
}
/* Background color shift off. */
@keyframes bgcolorshiftoff {
from {background-color: #e60000;}
to {background-color: #333333;}
}
/* Special text color shift on. */
@keyframes colorshifton {
from {color: #e60000;}
to {color: #ffffff;}
}
/* Special text color shift off. */
@keyframes colorshiftoff {
from {color: #ffffff;}
to {color: #e60000;}
}

/* Stuff that happens all the time. */

body {
	animation-name: fgcolorshiftoff; /* Cause website content to "fade in." */
	animation-duration: 4s; /* for 4 seconds */
	animation-fill-mode: forwards;
	background-color: #ffffff;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 24px !important;
	margin: 0;
}

p {
	max-width: 60%; /* Set maximum paragraph width to 60% of screen width. */
	margin: auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	text-align: center; /* Align paragraphs to middle of container. */
}

p#copyright { /* Specific styling for copyright blurb at bottom of every page. */
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 150px;
	color: #666666; /* Darker than regular text. */
	font-weight: bold;
}

p.leftbound { /* Special formatting for paragraphs bound to the left side of
their containers. */
	width: 200% !important;
	margin: 0;
	display: inline;
	
}

p.leftboundsmall { /* Special formatting for paragraphs bound to the left side
of their containers that need to be smaller than regular text. */
	width: 100%;
	margin: 0;
	display: inline;
	font-size: 14px;
	color: #666666; /* Darker than regular text. */
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 { /* Align all headers to center of container. */
	text-align: center;
}

table, tr, td { /* Align all tables, contained rows, and contained data to left
of respective containers. */
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px !important; /* Set font size to 24px. */
	/* Element padding. */
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}

table#formtable{ /* Specific styling for tables used in the organization of forms. */
	width: 45%; /* Narrower width than paragraphs. */
	margin: none;
	padding: 4px;
	font-size: 24px !important;
	
}

table.submenu td.inline img { /* Inline image elements. */
	max-height: 0px;
	width: 100%;
	white-space:nowrap;
}

table.chunks, table.chunks * { /* Chunks table and all contained
elements. */
	width: auto !important;
	margin: auto !important;
}

tr.paddedtr * { /* All elements within padded table rows. */
	padding-bottom: 15px !important;
	text-align: center;
}

ul { /* Styling for all unordered lists. */
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.horizontal, li.lihoriz { /* Styling for all horizontally-displayed unordered
lists and contained list items. */
	display: inline !important;
	text-align: left;
	margin-left: 0px !important;
	color: #ffffff;
}

ul.ulmenunorm > li.menuli { /* Horizontal browser main menu items. */
	float: left;
}


ul.submenu > li { /* Vertical browser main menu items. */
	text-align: left;
}

ul.submenu { /* Vertical browser menu unordered list. */
	max-height:0;
	width: 100%;
	padding:0;
	overflow:hidden;
	position:relative;
}

input, textarea{ /* Styling for all generic inputs and text areas. */
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-collapse: collapse;
	resize: none;
	padding: 3px;
}

a.link { /* Regular links. */
	text-decoration: none;
	font-weight: bold;
	animation-name:colorshiftoff;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #e60000;
	width: auto;
	border-collapse: collapse;
	margin: auto;
}

a.link:hover { /* Regular links when hovered over. */
	text-decoration: none;
	font-weight: normal;
	animation-name:colorshifton;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #ffffff;
	width: auto;
	border-collapse: collapse;
}

label#gameby{ /* Clickable text to show Gameboy photos. */
	position:relative;
	display:inline !important;
	transition:background 0.3s;
	cursor:pointer;
	line-height: 1em;
	padding: 0;
	text-decoration: none;
	font-weight: normal;
	animation-name:colorshiftoff;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #e60000;
}

label#gameby:hover, input#gameby:checked ~ label{ /* When hovering
over gameboy clickable text. */
	text-decoration: none;
	font-weight: normal;
	animation-name:colorshifton;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #ffffff;
}

label#moly{ /* Clickable text to show Molly photos. */
	position:relative;
	display:inline !important;
	transition:background 0.3s;
	cursor:pointer;
	line-height: 1em;
	padding: 0;
	text-decoration: none;
	font-weight: normal;
	animation-name:colorshiftoff;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #e60000;
}

label#moly:hover, input#moly:checked ~ label{ /* When hovering over
molly clickable text. */
	text-decoration: none;
	font-weight: normal;
	animation-name:colorshifton;
	animation-duration: 0.35s;
	animation-fill-mode: forwards;
	color: #ffffff;
}

input{ /* Hide all inputs. */
	display:none
}

input#go, input#limit, input#pretext, input#posttext { /* Chunky
form inputs. */
	display: inline-block !important;
}

input ~ table.submenu td.inline img { /* Hide hidden images. */
	max-height: 0px;
	transition: max-height 0.5s ease-outSine !important;
}

input.hideme { /* Hidden inputs. */
	display:inline !important;
	opacity: 0;
	width: 1px !important;
	height: 1px !important;
}

button.outlined { /* Outlined buttons for Chunky output. */
	background: #000000 !important;
	font-family: 'Raleway', sans-serif !important;
	font-size: 24px !important;
	border: 1px solid #ffffff !important;
	border-radius: 7.5px;
	color: #ffffff	!important;
	margin-left: auto;
	margin-right: auto;
}

.leftbound {	/* Items bound to the left side of their container. */
	margin-left: 0px;
	text-align: left;
	font-size: 24px !important;
	padding: 0px !important;
}

/* Stuff for browser windows with widths 900px or larger. */

@media only screen and (min-width: 899px) {
	.hiddenimg { /* Hidden image size constraints. */
		max-width: 494px;
		max-height: 658px;
		width: 100%;
		height: auto;
			
	}
	
	/* Show gameboy. */
	input#check02:checked ~ table.submenu td.inline img#gameboy{
		max-height: 100%;
		transition: max-height 0.5s !important;
	}
	
	/* Show molly. */
	input#check01:checked ~ table.submenu td.inline img#molly{
		max-height: 100%;
		transition: max-height 0.5s !important;
	}
		
	li.menuli a.menuitem_a { /* Menu items. */
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px !important;
		text-decoration: none;
		animation-name: bgcolorshiftoff;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
	button.outlined { /* Click-to-copy-content buttons from Chunky. */
		/* NOTE: These buttons are not actually present in the source
		code for the website. They are echoed by the PHP script running
		Chunky. */
		max-width: 45%;
	}
	
	ul.ulmenunorm { /* Normal menu unordered lists. */
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: fixed !important;
	}
	ul.submenu, ul.submenu * { /* Vertical browser menu unordered lists
	and all contained items. */
		display: none; /* If browser window is 900px or larger, hide the
		vertical menu and just use the horizontal one. */
	}
	label#menulabel { /* Menu toggle switch for vertical menu. */
		display: none; /* If browser window is 900px or larger, hide the
		toggle switch since the vertical menu is also hidden. */
	}
	
	li.menuli a.menuitem_a:hover:not(.active) { /* All menu list items
	not being hovered over. */
		animation-name: bgcolorshifton;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
		
	#menuzone { /* Menu div */
		animation-name: colorshifton;
		animation-duration: 0.35s;
		animation-fill-mode: forwards;
		width: 100%;
		height: 58px;
		position: fixed;
		background: #333333;
		z-index: 9;
		overflow: hidden;
		display: inline-block;
	}
}

/* Stuff for browser windows with widths smaller than 900px. */

@media only screen and (max-width: 900px) { 
	p { /* Paragraphs should be full-width and centered. */
		max-width: 100% !important;
		width: 100% !important;
		margin: auto;
		margin-top: 5%;
		text-align: center;
	}

	table#formtable { /* Specific styling for tables used in the
	organization of forms. */
		max-width: 100% !important; /* Form tables should be full-width in smaller
		browsers. */
		width: 100% !important;
		margin: none;
		padding: 4px;
		font-size: 24px !important;
		
	}
	.hiddenimg { /* Hidden images should be full-width in smaller browsers. */
		width: 100% !important;
		height: auto !important; /* Height determined by width and max-height. */
	}
	
	/*Show gameboy*/
	input#check02:checked ~ table.submenu td.inline img#gameboy{
		max-height: 100%;
		transition: max-height 0.5s !important;
	}
	
	/*Show molly*/
	input#check01:checked ~ table.submenu td.inline img#molly{
		max-height: 100%;
		transition: max-height 0.5s !important;
	}

	ul.submenu > li { /* Small-browser menu list items. */
		list-style-type: none;
		position: relative;
	}

	
	input ~ ul.submenu { /* When menu switch off (DEFAULT). */
		max-height: 0px; /* Menu items max-height 0. */
		transition: max-height 0.5s ease-outSine !important; /* Zero items
		gradually. */
	}
	
	input:checked ~ ul.submenu { /* When menu switch on. */
		max-height: 100%; /* Menu items restore to full height. */
		transition: max-height 0.5s ease-inSine !important; /* Dilate items
		gradually. */
	}
		
	li.menuli a.menuitem_a { /* Menu links. */
		display: block;
		color: white;
		padding: 7px 8px;
		text-decoration: none;
		animation-name: bgcolorshiftoff;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
		font-size: 18px;
	}
	
	li.menuli { /* Menu items. */
		text-align: left !important;
	}
	
	table.chunks { /* Table for holding output of Chunky. Organizes
	click-to-copy-content buttons on page. */
		max-width: 100%;
	}
	
	ul.ulmenunorm { /* Hide horizontal browser menu. */
		display: none;
	}

	li.menuli a.menuitem_a:hover:not(.active) { /* All menu list items
	not being hovered over. */
		animation-name: bgcolorshifton;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
	
	label.menulabel { /* Vertical browser menu toggle switch. */
		position: fixed;
		display: inline;
		float: left;
		margin: auto;
		z-index: 10;
	}
	
	#menuzone { /* Menu zone. */
		animation-name: colorshifton;
		animation-duration: 0.35s;
		animation-fill-mode: forwards;
		width: 100%;
		height: 35px;
		position: fixed;
		background: #333333;
		z-index: 9;
		overflow: visible;
		display: inline-block;
	}
}
